.search input {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  width: 100%;
  height: 40px;
  font-family: Rubik, sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #43425d;
  padding-left: 30px;
  outline: none;
}
.search input:placeholder-shown {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #43425d;
  padding-left: 30px;
}

.search form {
  position: relative;
  width: 250px;
}

.search button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 15px;
  background: transparent;
  border: none;
  color: #0a5de2;
  cursor: pointer;
}

table {
  width: 100%;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}
#transferTable .bg-white {
  background: white;
  border-bottom: 1px solid #929292;
}
#transferTable .bg-white td {
  margin: 0;
  padding: 8px 0 8px 40px;
  height: 39px;
  line-height: 35px;
}
#transferTable .transferDate {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #43425d;
  width: 20%;
  min-width: 150px;
}

#transferTable .transferTo {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #43425d;
  width: 40%;
  min-width: 350px;
}

#transferTable .detailTransfer {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #43425d;
  cursor: pointer;
  min-width: 150px;
  width: 20%;
}
#transferTable .detailTransfer i {
  font-size: 12px;
  color: #2699fb;
}

#transferTable .amountTransfer {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #43425d;
  width: 30%;
  min-width: 200px;
}
.collapse {
  display: none;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.collapse.in {
  display: inherit;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.rightInfo {
  width: 35%;
}

.tableDesc h2 {
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4d4f5c;
  padding: 10px 0 5px;
  margin: 0;
}
.tableDesc .dateTableDesc {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #4d4f5c;
  padding-bottom: 5px;
}

.tableDesc .hourTableDesc {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #4d4f5c;
  padding-bottom: 15px;
}

.tableDesc td {
  padding: 8px 0 8px 10px !important;
}

.amountInfo {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #43425d;
  text-align: right;
  padding-bottom: 25px;
}

.destInfo {
  font-family: Rubik, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4d4f5c;
  text-align: right;
}

.restInfo {
  width: 76%;
}

.center {
  text-align: center;
  width: 40%;
}
.blue-line::before {
  content: "";
  border-top: 3px solid #2699fb;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 25px;
  right: -34px;
  width: 95%;
}

.borderDown {
  border-bottom: 1px solid #929292;
}
.table > tbody > tr > td {
  border: none;
}

tr.fold.open {
  background: white;
}
tr.fold.open td {
  padding: 8px 0 0 10px;
  position: relative;
  border: none;
  min-width: 200px;
}
tr.fold.open td p {
  margin: 0;
}

@media screen and (min-width: 1520.98px) {
  .blue-line::before {
    position: absolute;
    right: -5px !important;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .search input {
    width: 100%;
  }
  .search form {
    position: rlative;
    width: 100%;
  }
  .filters {
    position: relative;
    top: 0;
    right: 0;
  }
  .boxes {
    margin-bottom: 15px;
  }
}
