/* Top bar css */
#top-navbar {
  font-family: "Montserrat", sans-serif;
  z-index: 100;
  position: fixed;
  top: 0;
}
.top-nav {
  height: 3.5rem;
  padding-top: 0.3rem;
}
.top-navbar-collapse {
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  left: 17rem;
}
.top-navbar-extended {
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  left: 5rem;
}
.btns-container-topnav {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns-container-topnav svg {
  position: relative;
  bottom: 1px;
}
#sidebar-switch {
  background-color: #3b3e6b;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  outline: none;
}
.burger-btn {
  fill: #fff;
}
#sidebar-bell {
  margin-top: 0.5rem;
  background-color: #77a448;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}
/* Final Top bar css */

/* Estilos generales de la sidebar*/
ul.list-group {
  list-style-type: none;
}
#sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 50;
  background-color: #3b3e6b;
}
#sidebar-container .nav-item a,
#sidebar-container .nav-subtitles {
  height: 50px;
}
#sidebar-container a,
#sidebar-container .nav-subtitles {
  color: rgba(255, 255, 255, 0.6);
}
#user-text {
  font-size: 15px;
  text-align: left;
}
.sidebar-welcome-text {
  color: rgba(255, 255, 255, 0.6);
}
.sidebar-user-text {
  color: #31b8a7;
  font-weight: bold;
}
.btn-logout-sidebar:hover {
  color: #31b8a7;
}
.border-top-white {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5px;
}
.title {
  cursor: pointer;
  height: 2.3rem;
}
.center-sidebar-title {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
#center-sidebar-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  margin-right: 2rem;
}
.user-collapse {
  display: none;
}
#quit-sm-btn {
  display: none;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.nav-subtitles {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.nav-subtitles .navsub-content {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-subtitles:hover {
  background-color: #34385d;
}
.nav-item a {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.sidebar-icon {
  width: 22px;
  height: 22px;
  fill: rgba(255, 255, 255, 0.65);
  position: relative;
  bottom: 0.12rem;
}
.sidebar-link {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar-link:hover {
  border-right: 4px solid #17bda9;
  background-color: #34385d;
}
ul.sidebar-sublist {
  list-style-image: url("../assets/punto-amarillo.png");
  list-style-position: outside;
}
.sidebar-link:hover .sidebar-icon,
.nav-subtitles:hover .sidebar-icon {
  fill: #fff;
}
.nav-item:hover span,
.nav-subtitles:hover span {
  color: #fff;
}
#sidebar-container .active {
  border-right: 4px solid #17bda9;
  background-color: #34385d;
}

/* Final estilos generales para sidebar */

/* CSS Para desplegar y esconder panel */

.chevron-right {
  transition: all 0.5s;
  width: 8px;
  height: 8px;
}
.chevron-show-accordion {
  transition: all 0.5s;
  transform: rotate(90deg);
}
/* Final CSS Para desplegar y esconder panel */

/* CSS para cuando la sidebar esta extendida */
.sidebar-extended {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 16rem;
  background-color: #4d4d4d;
  padding: 0;
}
.sidebar-extended .hide-panel-sidebar {
  max-height: 0;
  overflow: hidden;
  transition: all 0.75s;
}
.sidebar-extended .show-panel-sidebar {
  max-height: 250px;
  overflow: hidden;
  transition: all 0.75s;
}
.sidebar-extended #user-img-sidebar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}
.sidebar-extended .sidebar-sublist .nav-item:hover .sidebar-sub-link {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #34385d;
}
.sidebar-extended #logout-img-sidebar {
  display: none;
}
.sidebar-extended .nav-subtitles * {
  margin-left: 7.5px;
}
.sidebar-extended .nav-link * {
  margin-left: 10.5px;
}
.sidebar-extended ul.sidebar-sublist {
  margin-left: 1.5em;
}
/* final de css para sidebar extendida */

/* Inicio css para sidebar colapsada */
.sidebar-collapse {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 4.5rem;
}
.sidebar-collapse .hide-panel-sidebar {
  display: none;
}
.sidebar-collapse #user-img-sidebar {
  display: none;
}
.sidebar-collapse #logout-img-sidebar {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  margin-right: 17px;
}
.sidebar-collapse .chevron-right {
  display: none;
}
.sidebar-collapse .nav-item a {
  justify-content: center;
}
.sidebar-collapse .navsub-content {
  justify-content: center;
}
.sidebar-collapse ul.sidebar-sublist {
  margin-left: 0;
}
.sidebar-collapse .nav-subtitles * {
  margin-left: 0;
}
.sidebar-collapse .nav-link * {
  margin-left: 0;
}
.sidebar-collapse > ul > li > div > div > span {
  display: none;
} /* Para ocultar texto en el sidebar colapsado */
.sidebar-collapse > ul > div > li > a > span {
  display: none;
} /* Para ocultar texto en el sidebar colapsado */
.sidebar-collapse > ul > li > a > div > span {
  display: none;
} /* Para ocultar texto en el sidebar colapsado */

/* Final css para sidebar colapsada */

/* Para telefonos en modo portrait (portrait phones, less than 576px)*/
@media screen and (max-width: 1000px) {
  .sidebar-extended {
    width: 100%;
    z-index: 500;
    height: 100vh;
  }
  .sidebar-collapse {
    width: 0;
    z-index: 500;
  }
  .top-navbar-extended {
    left: 0.2rem;
  }
  .title-extended {
    display: none;
  }
  #quit-sm-btn {
    display: block;
    padding-top: 0.8rem;
  }
  .title {
    margin-top: 0.4rem;
    font-size: 20px;
  }
  .btns-container-topnav {
    margin-top: 3rem;
  }
}
/* Final telefonos en modo portrait (portrait phones, less than 576px)*/
