/* Top bar css */
#top-navbar {
  font-family: "Rubik", sans-serif;
  z-index: 100;
  position: fixed;
  top: 0;
}
.top-nav {
  height: 3.5rem;
  font-size: 16px;
  padding-top: 0.3rem;
}
.top-navbar-collapse {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 15rem;
}
.top-navbar-extended {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 5rem;
}
#sidebar-switch {
  background-color: #0070ba;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: #fff;
}
#sidebar-bell {
  margin-top: 0.5rem;
  background-color: #77a448;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  color: #fff;
  transition: all 0.5s;
}
.btns-container-topnav {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar-bell i {
  transition: all 0.5s;
  position: relative;
  right: 0.2rem;
}
#sidebar-bell:hover {
  transition: all 0.5s;
  width: 3rem;
  height: 3rem;
}
#sidebar-bell:hover i {
  right: 0;
}
.advertising-banner {
  margin-left: 1rem;
}
.sidebar-icon {
  margin-left: 0.1rem;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 0.15rem;
}
.sidebar-collapsed-icon {
  display: none;
}
/* Final Top bar css */

/* Estilos generales de la sidebar*/
#sidebar-container {
  font-family: "Rubik", sans-serif;
  position: fixed;
  top: -0.5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 50;
  background-color: #393939;
}

#sidebar-container .list-group a {
  height: 50px;
  color: #fff;
}
#sidebar-container .list-group .icon-blue {
  color: #31b8a7;
  font-size: 16px;
}
#user-text {
  font-size: 15px;
}
.center-sidebar-title {
  padding: 0.6rem !important;
}
.btn-logout-sidebar:hover {
  color: #31b8a7;
}
.title {
  cursor: pointer;
  height: 2.3rem;
}
.title-extended {
  margin-top: 0.5rem;
}
.title-collapse {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}
.user-collapse {
  display: none;
}
#quit-sm-btn {
  display: none;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.nav-subtitles {
  color: #fff;
  background-color: #323232;
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 0.55rem;
}
.nav-item a {
  display: flex !important;
  align-items: center;
}
/* CSS Para desplegar y esconder panel */
.hide-panel-sidebar {
  max-height: 0;
  overflow: hidden;
  transition: all 0.75s;
}
.show-panel-sidebar {
  max-height: 250px;
  overflow: hidden;
  transition: all 0.75s;
}
.chevron-right {
  transition: all 0.5s;
  width: 16px !important;
  height: 16px !important;
}
.chevron-show-accordion {
  transition: all 0.5s;
  transform: rotate(90deg);
}
/* Final CSS Para desplegar y esconder panel */

/* Final estilos generales para sidebar */

/* CSS para cuando la sidebar esta extendida */
.sidebar-extended {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 14rem;
  background-color: #4d4d4d;
  padding: 0;
  font-size: 16px;
}
.sidebar-extended .side-bar-link {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar-extended #user-img-sidebar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 15px;
}
.sidebar-extended #center-sidebar-user {
  padding: 0.5rem;
  padding-top: 0.75rem;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
}
.sidebar-extended #logout-img-sidebar {
  display: none;
}
.sidebar-extended .side-bar-link:hover {
  border-left: 5px solid #cb1f54;
  border-right: 5px solid #cb1f54;
  background-color: rgba(77, 77, 77, 0.5);
}
.sidebar-extended .active {
  border-left: 5px solid #cb1f54;
  border-right: 5px solid #cb1f54;
  background-color: rgba(77, 77, 77, 0.5);
}
/* final de css para sidebar extendida */

/* Inicio css para sidebar colapsada */
.sidebar-collapse {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 4.5rem;
}
.sidebar-collapse .side-bar-link {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar-collapse .side-bar-link:hover {
  border-left: 3px solid #cb1f54;
  border-right: 3px solid #cb1f54;
  color: #31b8a7;
  background-color: #4d4d4d;
}
.sidebar-collapse #center-sidebar-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-collapse #user-img-sidebar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
}
.sidebar-collapse #logout-img-sidebar {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  margin-right: 17px;
}
.sidebar-collapse .chevron-right {
  display: none;
}
.sidebar-collapse .sidebar-collapsed-icon {
  display: block;
}
.sidebar-collapse .active {
  border-left: 3px solid #cb1f54;
  border-right: 5px solid #cb1f54;
  background-color: rgba(77, 77, 77, 0.5) !important;
}
.sidebar-collapse > ul > li > h6 > span {
  display: none;
} /* Para ocultar texto en el sidebar colapsado */
.sidebar-collapse > ul > div > li > a > span {
  display: none;
} /* Para ocultar texto en el sidebar colapsado */
.sidebar-collapse > ul > li > a > span {
  display: none;
} /* Para ocultar texto en el sidebar colapsado */

/* Final css para sidebar colapsada */

/* Para telefonos en modo portrait (portrait phones, less than 576px)*/
@media screen and (max-width: 1000px) {
  .sidebar-extended {
    width: 100%;
    z-index: 500;
    height: 100vh;
  }
  .sidebar-collapse {
    width: 0;
    z-index: 500;
  }
  .top-navbar-extended {
    left: 0.2rem;
  }
  .title-extended {
    display: none;
  }
  .title-collapse {
    content: none;
  }
  #quit-sm-btn {
    display: block;
    padding-top: 0.8rem;
  }
  .title {
    margin-top: 0.4rem;
    font-size: 20px;
  }
  .advertising-banner {
    display: none;
  }
  .sidebar-extended #center-sidebar-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btns-container-topnav {
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
  }
  #sidebar-bell:hover {
    transition: none;
    width: 2.5rem;
    height: 2.5rem;
  }
  #sidebar-bell:hover i {
    right: 0.15rem;
  }
}
/* Final telefonos en modo portrait (portrait phones, less than 576px)*/
