.recarga-option-container {
  margin-top: 10px;
  margin-left: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 66px !important;
  padding-right: 49px !important;
  background-color: #fff;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.recarga-option-container .option-link {
  color: #000;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.recarga-option-container:hover {
  background-color: #e8e8e8;
}
.recarga-option-container:hover .option-link {
  color: #0070ba;
}
.recarga-flex-container-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option-text-pos-fix {
  position: relative;
  top: 0.5rem;
}
.flex-cont-img-btn {
  display: flex;
  align-items: center;
}
.option-text-1 {
  margin-right: 2.5rem;
}
.option-text-2 {
  margin-left: 0.25rem;
}
.option-text-3 {
  margin-left: 2.25rem;
}
.option-text-4 {
  margin-left: 3.5rem;
}
.option-text-5 {
  margin-right: 5.2rem;
}
.recarga-option-img {
  width: 66px;
  height: 66px;
}
@media screen and (max-width: 576.98px) {
  .recarga-option-container {
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .option-text-hide {
    display: none;
  }
}
