.pb-custom-search {
  padding-bottom: 5rem !important;
}
.input-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}
.input-search-container div {
  width: calc(100% - 45%);
}

.input-search-container div:last-child {
  margin-top: 0.75rem;
  width: calc(100% - 45%);
}
.input-search-container p {
  width: 100%;
  text-align: right;
  color: rgba(100, 184, 255, 0.8);
  font-size: 14px;
}
.recent-contacts {
  width: calc(100% - 25%);
  height: 160px;
  background-color: #fff;
  margin-left: calc(100% - 91.5%);
  position: absolute;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem 3rem;
}
.recent-contacts > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0.1rem;
}
.recent-contacts > div > img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-bottom: 0.2rem;
}
.recent-contacts > div span,
.recent-contacts > div p {
  font-size: 13px;
  font-weight: bold;
  margin-top: 0.1rem;
  text-align: center;
  width: 120px;
}
.recent-contacts p.recent-contacts-mail {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recent-contacts p.recent-contacts-mail:hover {
  overflow: visible;
  word-wrap: break-word;
}
@media screen and (max-width: 576.98px) {
  .input-search-container div,
  .input-search-container p,
  .input-search-container div:last-child {
    width: 275px;
  }
}
