#user-search-container {
  margin-top: 27px;
}
.user-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
#user-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.user-img-selected {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.remove-btn-search {
  font-size: 15px;
  position: absolute;
  top: 1.5rem;
  margin-left: 35px;
  -moz-transform: translateX(18px);
}
.btn-slider {
  color: #565574;
  font-size: 22px;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}
#link-how-cont {
  margin-left: 17rem;
  margin-top: 0.5rem;
}
#user-img-container {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}
#user-img-container button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.img-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-dropdown-hide {
  display: none;
}
.input-dropdown-show {
  display: flex;
  justify-content: center;
}
#container-dropdown-input {
  position: relative;
  margin-top: 0.2rem;
  z-index: 20;
  width: 22.5rem;
}
#container-dropdown-input div {
  background-color: #ececec;
  transition: border-radius 0.5s;
}
#container-dropdown-input div:hover {
  /* border-radius: 50px; */
  background-color: #8f8c8c81;
}
.user-send-btn-dd {
  background: transparent;
  outline: none;
  padding: 0.1rem;
  margin: 0.1rem;
  width: 100%;
  text-align: left;
}
#carousel-container {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s ease-out;
}
.carousel-show {
  opacity: 1 !important;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s ease-in;
}
.slide-carousel-hide {
  opacity: 0 !important;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}
.input-search-user {
  width: 25rem !important;
  height: 50px !important;
  border: 0.04rem solid rgba(0, 0, 0, 0.5) !important;
  margin-left: auto !important;
  margin-right: auto;
  border-radius: 50px !important;
  text-align: center !important;
}
.input-search-user::placeholder {
  text-align: center;
}

.user-search-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 2.5rem;
}

@media screen and (max-width: 576.98px) {
  #user-selector-container p {
    font-size: 14px;
  }
  .input-search-user {
    font-size: 13px;
    width: 15rem !important;
  }
  .input-search-user::placeholder {
    font-size: 13px;
  }
  .user-img {
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .img-name-wrapper span {
    font-size: 12px;
  }
  .btn-slider {
    color: #565574;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #link-how-cont {
    margin-left: 3.2rem;
  }
  #container-dropdown-input {
    width: 20rem;
  }
  #user-search-container {
    margin-top: 1.2rem;
    margin-left: 0;
  }
}
