.table-cont {
  height: 280px;
  width: 100%;
}

.table-cont * {
  color: #fff !important;
  font-weight: normal !important;
}
.table-recent-transfers {
  font-size: 14px;
  height: 200px;
}
.table-recent-transfers .table-img-cell {
  width: 2.5rem;
}
.table-recent-transfers img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
.table-cont tr {
  border-bottom: 1px solid #4d5174;
}
.table-recent-transfers .hour {
  color: #8388a5 !important;
}
.table-recent-transfers .progress {
  height: 8px;
  position: relative;
  top: 5px;
}
.progress-bar-send {
  width: 20%;
  background-color: #28a745;
}
.progress-bar-received {
  width: 100%;
  background-color: #07a8ec;
}
.progress-text-send {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.progress-text-send span:first-child {
  color: #28a745;
}
.progress-text-received {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.progress-text-received span {
  color: #07a8ec;
}
.table-date-cell,
.table-action-cell {
  min-width: 40px;
}

.table-amount-cell {
  min-width: 90px;
}
.table-mail-cell {
  width: 120px;
}
.table-status-cell {
  min-width: 125px;
}
