.table-responsive {
  margin: 0 !important;
}
.table-cont {
  height: 280px;
  width: 100%;
  padding: 0 0.5rem !important;
}
.table-cont * {
  color: #fff !important;
  font-weight: normal !important;
}
.table-recent-transfers {
  font-size: 14px;
  height: 200px;
}
.table-recent-transfers thead {
  background-color: transparent;
}
.table-recent-transfers img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
.table-cont tr {
  border-bottom: 1px solid #7994a891;
}
.table-recent-transfers .hour {
  color: #8388a5 !important;
}
.table-recent-transfers .progress {
  height: 8px;
  position: relative;
  top: 5px;
}
.progress-bar-send {
  width: 20%;
  background-color: #28a745;
}
.progress-bar-received {
  width: 100%;
  background-color: #07a8ec;
}
.progress-text-send {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.progress-text-send span:first-child {
  color: #28a745;
}
.progress-text-received {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.progress-text-received span {
  color: #07a8ec;
}
.table-date-cell,
.table-action-cell,
.table-img-cell {
  min-width: 40px;
}
.table-request-id {
  min-width: 130px;
}
.table-amount-cell {
  min-width: 90px;
}
.table-mail-cell {
  width: 120px;
}
.table-status-cell {
  min-width: 125px;
}
.table-h-custom {
  height: 345px !important;
}
.table-cont .edit-btn {
  background-color: #2f3d64;
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  transition: all 0.5s;
  position: relative;
  right: 8px;
}
.table-cont .edit-btn i {
  background-color: #0093d5;
  color: #2e4973 !important;
  padding: 0.35rem;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  font-size: 17px;
  transition: all 0.5s;
  position: absolute;
  top: 7px;
  left: 7px;
}
.table-cont .edit-btn span {
  font-size: 13px;
  position: absolute;
  top: 12px;
  left: 45px;
}
.table-cont .edit-btn:hover {
  border-radius: 30px;
  width: 100px;
  transition: all 0.5s;
}

.table-cont .edit-btn:hover span {
  display: initial;
}
.table-cont .text-rejected {
  color: #ff4898 !important;
  font-weight: 500 !important;
}
.table-cont .text-approve {
  color: #32a74d !important;
  font-weight: 500 !important;
}
.table-cont .text-pending {
  color: #009bdb !important;
  font-weight: 500 !important;
}
@media only screen and (min-width: 865px) and (max-width: 1030px) {
  .table-cont {
    width: 675px;
  }
}
