.user-info-container {
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: linear-gradient(to right, #176383, #383c69);
  height: 100%;
  padding: 1rem 2.5% 0 2.5%;
}
.user-info-container .title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.user-info-container .title-cont h5 {
  font-size: 15px;
}
.user-info-container .title-cont img {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
  position: relative;
  left: 0.9rem;
}
.user-info-container .user-inputs-container .inputs-row {
  display: flex;
  justify-content: space-between;
}
.user-info-container .user-inputs-container div.inputs-row:nth-child(3) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #236f91 !important;
}
.user-info-container .user-inputs-container .inputs-row .form-group {
  width: 50% !important;
}
.user-info-container .user-inputs-container .inputs-row .form-group input {
  height: 40px;
}
.user-info-container
  .user-inputs-container
  .inputs-row
  .form-group:nth-child(2) {
  margin-left: 6%;
}
.user-info-container .user-inputs-container .checkboxes-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #236f91 !important;
}
.user-info-container .user-inputs-container .checkboxes-row {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}
.user-info-container .user-inputs-container .checkboxes-row .custom-control {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.user-info-container .user-inputs-container .checkboxes-row .input-text {
  width: 175px !important;
  height: 35px !important;
}
.user-info-container
  .user-inputs-container
  .checkboxes-row
  .custom-control
  img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.user-info-container
  .user-inputs-container
  .checkboxes-row
  .custom-control
  input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.user-info-container
  .user-inputs-container
  .checkboxes-row
  .custom-control
  .erase-btn {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  background-color: #fff;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  top: 4px;
}
.user-info-container
  .user-inputs-container
  .checkboxes-row
  .custom-control
  .erase-btn
  i {
  color: #ff4898;
  position: relative;
  right: 2px;
}

.user-info-container .title-cont button span {
  display: none;
  position: absolute;
  right: 1rem;
  padding: 1rem;
  font-size: 12px;
  font-weight: 600;
  color: #b3b4b6;
  background-color: #2a3744;
  border: 1px solid #2d557e;
  border-radius: 8px;
}
.user-info-container .title-cont button:hover span {
  display: initial;
}
.user-info-container .user-inputs-container {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 1.5rem;
  margin-top: 1.25rem;
}
.user-info-container .user-inputs-container label span {
  color: #ca5c7b;
}
.user-inputs-container label {
  color: #b3b4b6;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .user-info-container {
    border-radius: 0px !important;
  }
}
@media screen and (max-width: 650.98px) {
  .user-info-container {
    padding-left: 1rem;
  }
  .user-info-container .user-inputs-container .inputs-row {
    flex-direction: column;
  }
  .user-info-container .user-inputs-container .inputs-row .form-group {
    width: 100% !important;
  }
  .user-info-container
    .user-inputs-container
    .inputs-row
    .form-group:last-child {
    margin-left: 0%;
  }
  .user-info-container .user-inputs-container {
    height: 300px;
  }
}
