/* Global CSS */
body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #ffffff !important;
}
#body-row {
  -webkit-transition: padding-top 0.5s;
  transition: padding-top 0.5s;
  margin-left: 0;
  margin-right: 0;
}
#main-div {
  /* margin-left: 4rem; */
  margin-top: 4.2rem;
}
/* Global CSS */

/* Circulos */
.circle.small {
  background-color: #fff;
  border: 3px solid #17a2b8;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  z-index: 86;
  position: relative;
}
/* Circulos  */

/* Inicio Formateo inputs */
.rounded-border {
  border-radius: 50px !important;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.form-border {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #0070ba;
}
.btn-outline-custom-t1 {
  background-color: transparent;
  border: 2px solid #3b3e66;
  border-radius: 10px;
  color: #3b3e66;
  height: 100%;
  padding: 0.5rem 1.8rem;
  font-size: 13px;
  font-weight: bold;
}

/* Final formateo inputs */

/* Formateo de texto */
.no-underline:hover {
  text-decoration: none;
}
.text-opaque {
  color: rgba(0, 0, 0, 0.5) !important;
}
.text-blue {
  color: #0070ba !important;
}
.wallet-font-color {
  color: #393939;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-29 {
  font-size: 29px;
}
.fs-30 {
  font-size: 30px;
}
.fs-31 {
  font-size: 31px;
}
.fs-32 {
  font-size: 32px;
}
.fs-33 {
  font-size: 33px;
}
.fs-34 {
  font-size: 34px;
}
.fs-35 {
  font-size: 35px;
}
.fs-36 {
  font-size: 36px;
}
.fs-37 {
  font-size: 37px;
}
.fs-38 {
  font-size: 38px;
}
.fs-39 {
  font-size: 39px;
}
.fs-40 {
  font-size: 40px;
}
.fs-41 {
  font-size: 41px;
}

/* Final formateo de texto */

/* Formateo de iconos */
.icon-hover-info {
  -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: color 0.5s;
  cursor: pointer;
}
.icon-hover-info:hover {
  color: #17a2b8;
}
.icon-big {
  font-size: 1.7rem;
}
/* Formateo de iconos */

/* formateo de cajas */
.border-box {
  border: 3px solid #f1f1f3;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}
.title-cont {
  background-color: #f1f1f3;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  padding: 0 1.5rem;
  padding-top: 0.65rem;
}
.ml-fix {
  margin-left: 4rem;
}
.title-cont h1 {
  font-size: 17px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(156, 156, 156, 1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(156, 156, 156, 1);
  box-shadow: 0px 0px 15px 3px rgba(156, 156, 156, 1);
}

/* formateo de cajas */

/*Formateo para el Div de movimientos recientes en todas las pantallas*/
.rotate-90 {
  transform: rotate(90deg);
}
/*Formateo para el Div de movimientos recientes en todas las pantallas*/
@media screen and (min-width: 1520.98px) {
  .blue-line::before {
    width: 45%;
  }
}
/* Padding fix */
@media screen and (max-width: 1200px) {
  #main-div {
    margin-top: 6.5rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 900.98px) {
  #main-div {
    margin-left: 0;
  }
  #body-row {
    padding-top: 1rem;
  }
  .collapsed-wallet-details > div {
    flex-shrink: 0;
    min-width: 8rem;
  }
  .margins-fix-wallet-details {
    margin-left: 3rem;
  }
}
/* Scroll styles */

/* width */
::-webkit-scrollbar {
  width: 8px;
}
::-moz-scrollbar {
  width: 8px;
}

::-o-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}
::-moz-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}
::-o-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c8;
  border-radius: 10px;
}
::-moz-scrollbar-thumb {
  background: #c7c7c8;
  border-radius: 10px;
}
::-o-scrollbar-thumb {
  background: #c7c7c8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b0b0b1;
}
::-moz-scrollbar-thumb:hover {
  background: #b0b0b1;
}
::-o-scrollbar-thumb:hover {
  background: #b0b0b1;
}

/* Remove spinner from input type number */
::-webkit-inner-spin-button {
  -webkit-appearance: none; /* For Chromium based browsers*/
}
::-webkit-outer-spin-button {
  -webkit-appearance: none; /* For Chromium based browsers*/
}
input[type="number"] {
  -moz-appearance: textfield; /* For mozilla */
}
/* Remove spinner from input type number */
