.wallets-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.wallet-item {
  width: 30%;
  height: 135px;
  margin: 1rem 0.25rem;
  border-radius: 15px;
  background-color: #fff;
}
#pg-wallet {
  padding-bottom: 5px;
  background: linear-gradient(to right, #f7cb6a, #fca780) left bottom #fff
    no-repeat;
  background-size: 100% 5px;
}
#pesos-wallet {
  padding-bottom: 5px;
  background: linear-gradient(to right, #39d6a6, #3860ab) left bottom #fff
    no-repeat;
  background-size: 100% 5px;
}
#pgc-wallet {
  padding-bottom: 5px;
  background: linear-gradient(to right, #f9774f, #9d4857) left bottom #fff
    no-repeat;
  background-size: 100% 5px;
}
.wallet-first-line,
.wallet-second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1.5rem 0 1.5rem;
  height: 25%;
}

.wallet-first-line > div a span {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 5px;
  color: #fff;
}
.wallet-first-line > div a:hover span {
  display: block;
}
.wallet-name {
  font-weight: bold;
}
.wallet-imgs {
  width: 2.4rem;
  height: 2.4rem;
}
.wallet-symbol-cont {
  border-radius: 50px;
  font-size: 19px;
  font-weight: bold;
  padding: 0.12rem 0.8rem;
  height: 100%;
  margin-right: 5px;
  letter-spacing: 1px;
}
#pg-symbol {
  color: #fca780;
  border: 1px solid #fca780;
}
#pesos-symbol {
  color: #3860ab;
  border: 1px solid #3860ab;
}
#pgc-symbol {
  color: #9d4857;
  border: 1px solid #9d4857;
}
.wallet-amount-cont {
  font-size: 21px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .wallets-cont {
    flex-direction: column;
  }
  .wallet-item {
    width: 90%;
  }
}
