.wallets-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.wallet-item {
  width: 27.5%;
  height: 150px;
  margin: 1rem 0.25rem;
  padding: 0.3rem 1.2rem 0.9rem 1rem;
  border-radius: 19px;
  color: #fff;
  -webkit-box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.35s;
}
.wallet-item:hover {
  width: 28%;
  height: 155px;
  -webkit-box-shadow: -5px 5px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 5px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.35s;
}
#pg-wallet {
  background-image: url("../../global/assets/background-pg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
#pesos-wallet {
  background-image: url("../../global/assets/background-pesos.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#pgc-wallet {
  background-image: url("../../global/assets/background-pgc.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wallet-first-line,
.wallet-second-line,
.wallet-third-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.75rem;
}
.wallet-third-line {
  margin-top: -1rem;
}
.wallet-first-line span {
  font-family: "Play", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  bottom: 6px;
  font-size: 18px;
}
.wallet-first-line .small-letters {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  font-size: 8px;
  letter-spacing: 4px;
  font-weight: 600;
  top: 23px;
  right: 6px;
  font-style: normal !important;
  text-transform: uppercase;
}
.wallet-second-line > div a span {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 5px;
  color: #fff;
}
.wallet-second-line > div a:hover span {
  display: block;
}
.wallet-name {
  font-weight: bold;
}
.wallet-imgs {
  width: 2.4rem;
  height: 2.4rem;
}
.wallet-amount-cont {
  font-family: "Play", sans-serif;
  font-size: 21px;
  align-self: flex-end;
}
.wallet-amount-cont span {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-weight: 400;
  top: 5px;
}
.wallet-symbol-cont {
  font-family: "Play", sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .wallets-cont {
    flex-direction: column;
  }
  .wallet-item {
    width: 90%;
  }
}
