.input-resume {
  width: 25rem;
  height: 50px;
  border: 0.04rem solid rgba(0, 0, 0, 0.5);
}
.input-resume::placeholder {
  text-align: center;
}
#resume-container {
  margin-top: 1.3rem;
  margin-left: 4px;
}
.user-img {
  widows: 73.78px;
  height: 73.78px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-slider {
  color: #565574;
  font-size: 30px;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}
#link-how-cont {
  margin-left: 17rem;
  margin-top: 1em;
}
#carousel-container {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s ease-out;
}
.carousel-show {
  opacity: 1 !important;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s ease-in;
}
#user-img-container {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}
#container-dropdown-input {
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  z-index: 20;
}
.input-dropdown-hide {
  display: none;
}
.input-dropdown-show {
  display: initial;
  position: fixed;
}
.slide-carousel-hide {
  opacity: 0 !important;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}
.user-img {
  width: 56px;
  height: 56px;
}
@media screen and (max-width: 576.98px) {
  #resume-container {
    margin-top: 1.2rem;
  }
  .input-resume {
    width: 15rem;
  }
  .user-img {
    widows: 45px;
    height: 45px;
    margin-left: 0.8px;
    margin-right: 0.8px;
  }
  .btn-slider {
    color: #565574;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #link-how-cont {
    margin-left: 3.2rem;
  }
}
