.recarga-checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.recarga-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.recarga-checkmark-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #17a2b8;
}
/* When the radio button is checked, add a blue background */
.recarga-checkbox-label input:checked ~ .recarga-checkmark-span {
  background-color: #17a2b8;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.recarga-checkmark-span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.recarga-checkbox-label input:checked ~ .recarga-checkmark-span:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.recarga-checkbox-label .recarga-checkmark-span:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  content: "⅃";
  font-size: 1.2rem;
  font-weight: 500;
  top: 0.1rem;
  left: 0.6rem;
  background-color: #17a2b8;
  color: #fff;
}
.radios-container {
  border-top: 5px solid #0070ba;
  background-color: #fff;
  margin-top: 27px;
  margin-left: 14px;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 576.98px) {
  .radios-container {
    margin-left: 0px;
  }
}
