/* Titles for the main title */
.send-title-pesos::after {
  content: "Enviar Pesos";
}
.send-title-pg::after {
  content: "Enviar Peygold";
}
.send-title-cpg::after {
  content: "Enviar Créditos Peygold ";
}
.request-title-pesos::after {
  content: "Solicitar Pesos";
}
.request-title-pg::after {
  content: "Solicitar Peygold";
}
.request-title-cpg::after {
  content: "Solicitar Créditos Peygold ";
}
/* Final Titles for the main title */
