.choose-wallet-col-container {
  margin-top: 75px;
}
.choose-wallets-containers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.choose-wallet-circle-blue {
  transition: all 0.5s;
  font-size: 24px;
  background-color: #0070ba;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
}
a:hover .choose-wallet-circle-blue {
  font-size: 28px;
  width: 160px;
  height: 160px;
}
.choose-wallet-text {
  transition: all 0.5s;
  text-align: center;
  font-size: 21px;
}
a:hover .choose-wallet-text {
  font-size: 24px;
}
