.register-acc-left {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: left;
  padding: 0 3rem !important;
}
/* Regist left side steps */

.regist-left-p1 {
  background-image: url("../../global/assets/background-registro.jpg");
}
.regist-left-p1 .regist-left-title::before {
  content: "¿Por qué deberías crear una cuenta?";
}
.regist-left-p1 .regist-left-text1::before {
  content: "¡Somos el mejor sistema de pago electrónico del pais!";
}
.regist-left-p1 .regist-left-text2::before {
  content: "Tus procesos están a salvo con nosotros, ¡no espere más!";
}

.regist-left-p2 {
  background-image: url("../../global/assets/background-registro.jpg");
}
.regist-left-p2 .regist-left-title::before {
  content: "Beneficios al registrarte con nosotros";
}
.regist-left-p2 .regist-left-text1::before {
  content: "¡Mantenete siempre conectado ahora es más fácil gracias a nuestro sistema multifuncional Descubrí todo lo que tenemos para ofrecerte!";
}
.regist-left-p2 .regist-left-text2::before {
  content: "";
}

/* .regist-left-p3 {
  background-image: url("../../global/assets/background-registro.jpg");
}
.regist-left-p3 .regist-left-title::before {
  content: "¡Uníte a nuestra comunidad!";
}
.regist-left-p3 .regist-left-text1::before {
  content: "¡Ya somos más de 5000 usuarios registrados en nuestra plataforma Peygold! Sumáte con nosotros y disfrutá de la experiencia y el servicio que ofrecemos!";
}
.regist-left-p3 .regist-left-text2::before {
  content: "";
} */

/* .regist-left-p4 {
  background-image: url("../../global/assets/background-registro4.jpg");
}
.regist-left-p4 .regist-left-title::before {
  content: "!Activá las notificaciones y mantenéte al día!";
}
.regist-left-p4 .regist-left-text1::before {
  content: "!Mantenete siempre al día conectado ahora es más fácil gracias a nuestro sistema multifuncional! Descubrí todo lo que tenemos para ofrecerte!";
}
.regist-left-p4 .regist-left-text2::before {
  content: ""; */
/* } */

/* .regist-left-p5 {
  background-image: url("../../global/assets/background-registro5.jpg");
}
.regist-left-p5 .regist-left-title::before {
  content: "Beneficios al registrarte con nosotros";
}
.regist-left-p5 .regist-left-text1::before {
  content: "!Mantenete siempre conectado ahora es más fácil gracias a nuestro sistema multifuncional Descubrí todo lo que tenemos para ofrecerte!";
}
.regist-left-p5 .regist-left-text2::before {
  content: "";
} */
/* 
.regist-left-p6 {
  background-image: url("../../global/assets/background-registro6.jpg");
}
.regist-left-p6 .regist-left-title::before {
  content: "¡Hacé la diferencia y probá la experiencia!";
}
.regist-left-p6 .regist-left-text1::before {
  content: "¡Te brindamos el servicio de mejor alcance y rendimiento del país! Donde podrás disfrutar de nuestro servicio en cualquier momento! ¡estas a sólo un click";
}
.regist-left-p6 .regist-left-text2::before {
  content: "";
} */
/* Regist left side steps */

.register-acc-left h4 {
  font-weight: bold;
  font-size: 17px;
}
.register-acc-left span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
}
.register-acc-left img {
  width: 150px;
  height: 150px;
  margin-top: -1.25rem;
}
.mini-border-regist {
  border-top: 2px solid rgba(255, 255, 255, 0.65);
  width: 20%;
  margin-top: 12px;
}

/* Regist right steps */

/* .regist-right-p1 .regist-right-text::before {
  content: "Rellene los siguientes campos de registro y estará listo para comenzar.";
}
.regist-right-p2 .regist-right-text::before {
  content: 'Complete los siguientes campos y seleccione la opción "siguiente" para finalizar el registro';
}
.regist-right-p3 .regist-right-text::before {
  content: "Para finalizar indíquenos su dirección de correo electrónico y fije una contraseña";
} */
.regist-right-inputs-p1,
.regist-right-inputs-p2 {
  display: none;
}
.regist-right-p1 .regist-right-inputs-p1,
.regist-right-p2 .regist-right-inputs-p2 {
  display: initial;
}
/* Regist right steps */

.register-acc-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-acc-container {
  width: 45%;
}
.register-acc-container .btn-custom-status {
  font-weight: 600;
}
.register-acc-container .btn-custom-status .fa-chevron-left,
.register-acc-container .btn-custom-success .fa-chevron-left {
  font-size: 9px;
}
.regist-user-ops {
  display: flex;
  justify-content: space-between;
}
.register-acc-container .regist-user-ops {
  position: relative;
  top: 25px;
}
.bg-gradient-login .regist-user-ops {
  position: relative;
  top: -40px;
}
.register-acc-right .inputs-container {
  height: 320px;
  overflow-y: scroll;
}
.regist-user-ops button {
  font-weight: 600;
  height: 40px;
}
.register-acc-right label {
  font-size: 13px;
  color: #8f8f94 !important;
}
.regist-user-title {
  margin: 3.5rem 0 2.5rem 0;
}
.regist-user-title h3 {
  font-size: 25px;
  font-weight: 600;
}
.regist-user-title span {
  font-size: 16px;
}
.terms-conditions {
  font-size: 12px;
  color: #8f8f94;
  text-align: center;
}
.helper-container {
  position: relative;
}
.helper-container i {
  font-size: 15px;
  color: #001a5a;
  position: relative;
  top: 2px;
  left: 3px;
}
.helper-container .floating-text {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  border-radius: 8px;
  position: absolute;
  bottom: 15px;
  width: 200px;
  height: 150px;
  overflow-y: scroll;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.helper-container:hover .floating-text {
  display: initial;
}
.register-acc-container .btn-containers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register-acc-container .btn-containers button {
  background-color: #0082cb;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  border-radius: 30px;
  transition: background-color 0.5s;
  border: 1px solid #00cedf;
  height: 47px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}
.register-acc-container .btn-containers button:hover {
  transition: background-color 0.5s;
  background-color: #00cedf;
}
@media screen and (max-width: 996.98px) {
  .register-acc-left {
    display: none;
  }
}
@media screen and (max-width: 576.98px) {
  .register-acc-right {
    margin-top: -1.5rem;
  }
  .register-acc-container {
    width: 90%;
  }
}
