body {
  background-color: #e1e1e1;
}
.main-content-email-message {
  background-color: #fff;
  padding: 1.25rem 2.5rem;
  line-height: 18px;
}
.title-email-text {
  font-size: 22.5px;
  text-align: center;
}
.money-text-email {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}
.img-email-request {
  width: 45px;
  height: 45px;
}
.main-text-email-message {
  font-size: 17px;
  text-align: justify;
}
.sr-warning-footer {
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-color: #4d4f5c;
  font-size: 16px;
}
.commentary-container-email {
  text-align: justify;
}
