.recarga-comercio-wrapper {
  margin-left: 14px;
  margin-top: 27px;
  background-color: #fff;
}
#recarga-container {
  width: 100%;
  padding: 1rem 8rem;
}
.flex-input-container {
  height: 3.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-input-img-container {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recarga-comercio-input {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #43425d;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  width: 210px;
}
.recarga-comercio-input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: #43425d;
}
.recarga-comer-input-search div {
  position: relative;
}
.recarga-comer-input-search button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 15px;
  background: #fff;
  border: none;
  color: #0a5de2;
  cursor: pointer;
}
.recarga-comercio-table-row td {
  text-align: center;
}
.recarga-comercio-table-row td:first-child {
  word-break: break-all;
}

.img-remove-container {
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recarga-comercio-wallet {
  margin-left: 14px;
  margin-top: 10px;
}
.wallet-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.recarga-comercio-user-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.recargas-recientes-container {
  background-color: #fff;
  margin-top: 10px;
  margin-left: 15px;
  padding: 1rem 0;
}
.recarga-comercio-wallet-icon {
  margin-bottom: 1.5rem;
}
.table-voucher-btn {
  font-size: 25px;
  position: relative;
  bottom: 0.5rem;
  color: #17a2b8;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
.table-voucher-btn:hover {
  color: #0a5de2;
}
button[class="btn-remove"] {
  outline: none;
  border: none;
  position: relative;
  bottom: 2.5rem;
  right: 0.3rem;
  font-size: 15px;
}
@media (min-width: 1599.98px) {
  #recarga-container {
    width: 100%;
    padding: 1rem 15rem;
  }
}
@media (max-width: 578.98px) {
  .recarga-comercio-wrapper {
    margin-left: 0;
  }
  .recarga-comer-input-search div {
    position: rlative;
    width: 100%;
  }
  .flex-input-container {
    flex-direction: column;
    margin: 1rem 0;
    height: 4.5rem;
  }
  #recarga-container {
    width: 100%;
    padding: 1rem;
  }
  .img-remove-container {
    margin-right: 0;
    margin-left: 1.2rem;
  }
  .recargas-recientes-container {
    margin-left: 0;
  }
  .recarga-comercio-wallet {
    margin-left: 0;
  }
}
