#recarga_container {
  width: 100%;
  padding: 1rem 8rem;
}
.search input {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;

  height: 40px;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #43425d;
  padding-left: 30px;
  outline: none;
}
.search input:placeholder-shown {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #43425d;
  padding-left: 30px;
}
.search form {
  position: relative;
}
.search button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 15px;
  background: transparent;
  border: none;
  color: #0a5de2;
  cursor: pointer;
}
@media (max-width: 767px) {
  .search input {
    width: 100%;
  }
  .search form {
    position: rlative;
    width: 100%;
  }
}
