* {
  box-sizing: border-box !important;
}
#mp-img-recarga {
  width: 110px;
  height: 110px;
}
.btn-slider {
  color: #565574;
  font-size: 22px;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}
@media screen and (max-width: 576.98px) {
  .radios-container {
    margin-left: 0px;
  }
  .option-container {
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #user-search-container {
    margin-top: 1.2rem;
    margin-left: 0;
  }
  .input-resume {
    width: 15rem;
  }
  .user-img {
    widows: 45px;
    height: 45px;
    margin-left: 0.8px;
    margin-right: 0.8px;
  }
  .btn-slider {
    color: #565574;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .link-how-cont {
    margin-left: 3.2rem;
  }
  .option-text-hide {
    display: none;
  }
}
