#main-content-send-money-p2 {
  color: #4d4f5c;
  margin: 0.5rem;
  margin-top: 2rem;
}
.margin-visa-input {
  margin-left: 10rem;
}
.input-custom-send-money {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 3rem;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #4d4f5c;
  width: 110px;
  height: 47px;
}
.wallet-img {
  width: 31px;
  height: 36px;
}
.input-custom-send-money::placeholder {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #4d4f5c;
}
::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#peygold-wallet-content-table {
  margin-left: 0.8rem;
}
.main-user-containers {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#main-user-img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}
#main-user-txt {
  margin-top: 0.5em;
  margin-left: 2em;
}
.btn-custom-send-money {
  background-color: transparent;
  border: 2px solid #0070ba;
  border-radius: 50px;
  color: #0070ba;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  width: 58px;
  height: 29px;
  font-size: 12px;
}
.table-width {
  min-width: 30rem;
}
@media screen and (max-width: 700px) {
  #main-content-send-money-p2 {
    margin-top: 0;
    margin: 0.5rem;
  }
  .margin-visa-input {
    margin-left: 0;
  }
  .m-sm-center {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #peygold-wallet-content-table {
    margin-left: 0.5rem;
  }
  #main-user-txt {
    margin-left: 0;
  }
  #user-text {
    text-align: center;
  }
  .main-user-containers {
    flex-direction: column;
  }
}
