.qr-options-container {
  height: 100%;
  border: 3px solid #f1f1f3;
  padding: 1.5rem;
}
.select-wallet-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.select-wallet-container > div {
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 15px;
  width: 25%;
  cursor: pointer;
  margin: 0.5rem;
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: 0px 6px 5px 0px #dcdcdc;
  -moz-box-shadow: 0px 6px 5px 0px #dcdcdc;
  box-shadow: 0px 6px 5px 0px #dcdcdc;
}
.select-wallet-container > div > div {
  display: flex;
  height: 50px;
  border-left: 4px solid #64b8ff;
  line-height: 18px;
  font-weight: bold;
}
.select-wallet-container > div > div p:first-child {
  margin: auto;
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #64b8ff;
  border-radius: 14px;
  padding: 0.4rem 0.65rem;
  color: #fff;
}
.select-wallet-container > div > div p:last-child {
  margin: auto;
  margin-left: 8px;
}
.select-wallet-container > div > div p:last-child span:first-child {
  font-size: 14px;
  color: #727177;
}
.select-wallet-container > div > div p:last-child span:last-child {
  font-size: 15px;
  color: #64b8ff;
}
.qr-code-cont {
  margin-top: 35px;
  height: 400px;
  background-color: #36b5a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr-code-cont > div {
  margin-top: 10px;
  height: 250px;
  width: 250px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.qr-apps-cont {
  padding: 0.5rem;
  height: 100px;
  background-color: #fff;
  text-align: center;
}
.qr-app-pg-img {
  width: 50px;
  height: 50px;
}
.qr-text-opaque {
  color: #89878c;
  font-size: 14px;
}
.qr-wallets-cont {
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 3px 7px 2px rgba(0, 111, 115, 0.5);
  -moz-box-shadow: 0px 3px 7px 2px rgba(115, 111, 115, 0.5);
  box-shadow: 0px 3px 7px 2px rgba(115, 111, 115, 0.5);
  padding: 1rem 8rem 2rem 8rem;
}
.qr-title {
  padding: 0 7rem;
}
.qr-input-btn-cont {
  width: 100%;
}
.qr-input-btn-cont input {
  width: 85%;
  margin-left: 1rem;
  border-radius: 7.5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  min-height: 35px;
  padding-left: 1.25rem;
  font-size: 13px;
  transition: all 0.5s;
}
.qr-input-btn-cont input:focus {
  border: 2px solid #15eeb7;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(21, 238, 184, 0.65);
  -moz-box-shadow: 0px 0px 10px 1px rgba(21, 238, 184, 0.65);
  box-shadow: 0px 0px 10px 1px rgba(21, 238, 184, 0.65);
}
.qr-input-btn-cont button {
  width: 10%;
  background-color: #64b8ff;
  border-radius: 7.5px;
  outline: none;
  color: #fff;
  padding: 0.55rem;
  font-size: 13px;
}
.qr-input-btn-cont button:hover {
  background-color: #5097d1;
}
@media screen and (max-width: 1290.98px) {
  .qr-wallets-cont {
    padding: 1rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 1170.98px) {
  .qr-wallets-cont {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
}
@media screen and (max-width: 650.98px) {
  .qr-wallets-cont {
    padding: 1rem 0.25rem 2rem 0.25rem;
  }
  .qr-title {
    padding: 0 0.1rem;
    margin-bottom: 0.5rem;
  }
  .select-wallet-container {
    flex-wrap: wrap;
  }
  .select-wallet-container > div {
    min-width: 200px;
  }
}
