.reload-resume-container-3 .reload-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reload-resume-container-3 .user-letter-circle {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #39b0a6, #3860ab);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  margin-right: calc(100% - 98%);
}
.reload-resume-container-3 .user-info-cont span:first-child {
  color: #fff;
}
.reload-resume-container-3 .user-info-cont span:last-child {
  color: #8f8f94;
}
