.reload-resume-container-3 {
  padding-bottom: 3.25rem !important;
}

.reload-inputs-container-3 {
  display: flex;
  justify-content: space-between;
}
.reload-inputs-container-3 > div {
  width: 100%;
  margin-top: 1rem;
}
.reload-inputs-container-3 > div:first-child {
  margin-right: calc(100% - 97.5%);
}
.reload-inputs-container-3 > div:last-child {
  margin-left: calc(100% - 97.5%);
}

.reload-input-selects-container-3 {
  display: flex;
  justify-content: space-between;
}
.reload-input-selects-container-3 select:first-child {
  margin-right: calc(100% - 98.5%);
}
.reload-input-selects-container-3 select:last-child {
  margin-left: calc(100% - 98.5%);
}
@media screen and (max-width: 576.98px) {
  .reload-inputs-container-3 {
    flex-direction: column;
  }
  .reload-inputs-container-3 > div:first-child {
    margin-right: 0;
  }
  .reload-inputs-container-3 > div:last-child {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
