input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.enviar-solicitar-p2 > h4 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #b1b2b480;
}
.enviar-solicitar-p2 .selected-user-container {
  margin-top: 2rem;
}
.enviar-solicitar-p2 .wallet-type2-container {
  margin-top: -2.75rem;
  position: relative;
  top: 4.5rem;
}
.enviar-solicitar-p2 .input-custom-number {
  padding-left: 0 !important;
  width: 100%;
}
.enviar-solicitar-comment-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.enviar-solicitar-comment-container .input-custom-text {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 50%);
}

@media screen and (max-width: 576.98px) {
  .enviar-solicitar-p2 .wallet-type2-container {
    margin-top: 1rem;
    position: relative;
    top: initial;
  }
  .enviar-solicitar-comment-container .input-custom-text {
    width: 80%;
  }

  .enviar-solicitar-comment-container {
    margin-top: 0;
  }
}
