.bg-custom-user-info {
  width: 100%;
  height: 125vh;
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #1e2a35;
  background-size: cover;
}
.user-options-container {
  height: 100%;
  padding: 0 !important;
}
.user-options-container .user-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  width: 100%;
  background-image: linear-gradient(to right, #1f5c81, #363d66);
  padding: 2.25rem 1.25rem 1.65rem 1.25rem;
  border-top-right-radius: 18px;
}
.user-options-container .user-name {
  font-size: 16px;
  margin-top: 1rem;
  font-weight: 600;
}
.user-options-container .user-email {
  font-size: 13px;
  font-weight: 500;
  color: #a5b5e4;
  word-break: break-all;
}
.user-options-container .user-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  border: 2px solid #fff;
}
.user-options-container .user-img-content {
  position: relative;
}
.user-options-container .image-upload {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 85px;
  bottom: 0;
}
.user-options-container .image-upload > input {
  display: none;
}
.user-options-container .image-upload img {
  width: 27px;
  height: 27px;
  cursor: pointer;
  position: relative;
  left: 8px;
  top: 8px;
}
.user-options-container .user-progress-cont {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #a5b5e4;
  background-color: #fff;
}
.user-options-container .user-progress-cont .user-conf-text {
  text-align: left;
  padding-left: 10%;
  font-size: 14px;
  font-weight: 800;
  color: #5b5a5f;
}
.user-options-container .user-progress-cont .text {
  text-align: left;
  color: #5b5a5f;
  line-height: 15px;
  padding-left: 10%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.user-options-container .user-progress-cont .text > h6 {
  font-size: 14px;
  font-weight: 800;
}
.user-options-container .user-progress-cont .text > span {
  font-size: 13px;
  font-weight: 500;
}
.user-options-container .links-cont {
  height: 100%;
  padding: 1.5rem 0.75rem 1.5rem 0.5rem;
  background-color: #fff;
  border-bottom-right-radius: 18px;
}
.user-options-container .links-cont .link-ist {
  list-style-type: none;
  padding-left: 10%;
  font-size: 14px;
  font-weight: 600;
}
.user-options-container .links-cont .link-ist li {
  margin-top: 1rem;
}
.user-options-container .links-cont .link-ist li a {
  color: #5b5a5f;
}
.user-options-container .links-cont .link-ist li a:hover {
  color: #64b8ff;
  text-decoration: none;
}
.user-options-container .links-cont .link-ist li .active {
  color: #64b8ff;
}

@media screen and (max-width: 992px) {
  .user-options-container .user-img-container,
  .links-cont {
    border-radius: 0px !important;
  }
}
@media screen and (max-width: 650.98px) {
  .user-options-container .user-progress-cont .user-conf-text,
  .user-options-container .user-progress-cont .text,
  .user-options-container .links-cont .link-ist {
    padding-left: 0.5rem;
  }
}
